# Dependencias del sistema
node_modules/
package-lock.json

# Variables de entorno (¡Seguridad!)
.env

# Logs y archivos del sistema operativo
*.log
.DS_Store
Thumbs.db

# Carpetas de compilación del Frontend
frontend/dist/
frontend/.vite/

# Carpetas de compilación del back
frontend/dist/

# Editor
.vscode/
